*/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/* html {
    font-size: 62.5%;
} */
.titulo-principal{
    color: rgb(172, 147, 2);
    background-color: rgb(89, 99, 99);
    font-size: 30px;
    text-align: center;
}

/* header{
    display: flex;
    background-color: #1e1e1e;
    flex-direction: column;
    align-items: center;
} */
/* header img{
    width: 100px;
    
} */
/* header nav ul {
    list-style:none ;
}
header nav ul li a{
    text-decoration: none;
    color:rgb(187, 111, 12);
    font-size: 20px;
} */
/* .banner{
    height: 450px;
    background-image: url(./../img/living-venta.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
} */
/* .card{
    width: 350px;
    height: 380px;
    border-radius:20px 0px;
    overflow: hidden;
    box-shadow: 10px 12px 28px 0px rgba(0,0,0,0.75);
    position: relative;
} */
/* .card img{
    width: 100%;
    height: 200px;
} */
/* .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */
/* .card-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 180px;
    padding: 10px;
} */
.descuento{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1e1e1e;
    color: aliceblue;
    padding: 5px;
    border-radius: 0 0 0 5px; 
}
/* @media screen and (min-width: 768px){
    header{
        flex-direction: row;
        background-color: #1e1e1e;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    header nav ul{
        display: flex;
        column-gap: 15px;
        padding: 15px;
    }
} */
/* .venta{
    display: grid;
    margin: 1rem 3rem 3rem 3rem;
    gap: 1rem;

} */
/* .venta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/* .venta{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas: 
    "bano bano"
    "cocina dormitorio"
    "living living";
} */
.bano{
    grid-area: bano;
}
.cocina{
    grid-area: cocina;
}
.dormitorio{
    grid-area: dormitorio;
}
.living{
    grid-area: living;
}
/* @media screen and (min-width: 1024px){
    .alquiler{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3, 30vh);
        grid-template-areas: 
        "bano dormitorio dormitorio"
        "bano living living"
        "cocina cocina cocina";
    } 
} */
/* .alquiler{
    display: grid;
    margin: 1rem 3rem 3rem 3rem;
    gap: 1rem;
}
.alquiler img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/* .alquiler{
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas: 
    "bano bano"
    "cocina dormitorio"
    "living living";
} */ 
